*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(img/pexels-olena-bohovyk-5686476.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title {
    color: #ffffff;
}

.year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    line-height: 1;
    z-index: -1;
    opacity: 0.4;
    color: #fff;

}

.timer {
    display: flex;
    justify-content: space-around;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

}